.panel-custom {
    border-style: solid;
    border-width: 1px;
    border-color: #dad6d6;
    margin-bottom: 1.25em;
    padding: 40px;
    background: #dad6d6;
  }
  
  .panel-user {
    border-style: solid;
    border-width: 1px;
    border-color: #2b2b2b;
    margin-bottom: 1.25em;
    padding: 1em;
    background: #fffffb;
  }
  
  /* Style the tab */
  .tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
  }
  
  /* Style the buttons that are used to open the tab content */
  .tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    color:#39a5cf;
  }
  
  /* Change background color of buttons on hover */
  .tab button:hover {
    background-color: #ddd;
  }
  
  /* Create an active/current tablink class */
  .tab button.active {
    background-color: #ccc;
  }
  
  /* Style the tab content */
  .tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
  }
  
  .tabcontent {
    animation: fadeEffect 1s; /* Fading effect takes 1 second */
  }
  
  /* Go from zero to full opacity */
  @keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
  }
  
  .button.alert{
    background-color: #43a4d3;
    border-color: #43a4d3;
  }
  .button.success {
    background-color: #43a4d3;
    border-color: #43a4d3;
  }
  .button.success:hover{
    background-color: #2d83a5;
  }
  .botonBuscador{
    border-color: #2d83a5;
  }


.listadoPrincipal {
    display: flex;
    padding: 1rem;
}

h4 {
    padding-right: 3rem;
}

.espace {
    padding-top: 1rem;
}

.logo {
    height: 50px;
    width: 50px;
}

.logo2 {
    height: 100px;
    width: 200px;
}

body {
    background-color: rgb(186, 189, 194);
}

header {
    height: 15vh;
    padding-top: 10px;
    font-family: 'Lobster', cursive;
}

.header2 {
    text-align: center;
    
}

.center {
    text-align: center;
    padding: 20px;
}

.footer1 {
    padding: 10px;
}

footer {
    background-color: #1c1d26;
    height: 11vh;
    font-family: 'Indie Flower', cursive;
    color: beige;
}

#cuerpo {
  
    font-family: 'Indie Flower', cursive;
    
}

.iker{
    height: 66vh;
}

.nerea {
    color: white;
}

.alto {
    margin-top: 3%;
}
