        <p>TIPO DE USUARIO: {{user.usuario}}</p>
        <p>NOMBRE COMPLETO: {{user.nombre}} {{user.erApellido}} {{user.doApellido}}</p>
<div>
    <div ng-if="user.usuario === 'paciente'"><a href="#!/infopaci/{{id}}" class="btn btn-secondary">Información del Paciente</a></div>
    <div ng-if="user.usuario === 'profesional'"><a href="#!/infoprof/{{id}}" class="btn btn-secondary">Información del Profesional</a></div>

    <div ng-if="user.usuario === 'paciente'"><a href="#!/editpaci/{{id}}" class="btn btn-secondary">Editar Paciente</a></div>
    <div ng-if="user.usuario === 'profesional'"><a href="#!/editprof/{{id}}" class="btn btn-secondary">Editar Profesional</a></div>
    
    
    <div><a href="#!/removeone/{{id}}" class="btn btn-secondary">Eliminar Usuario</a></div>
</div>

<!--  ng-if="user.usuario === 'paciente' || 'profesional'" -->